{
  "Podcasts": [
    {
      "Directory": "/Users/david/Downloads/podcasts/test",
      "Title": "Rare Frequencies",
      "Image": "http://www.rarefrequency.com/images/495-podcast65.jpg",
      "URL": "http://www.example.com/podcast1/",
      "PodcastURL": "http://example.com"
    },
    {
      "Directory": "/Users/david/Downloads/podcasts/test2",
      "Title": "Vocal Fry",
      "Image": "https://blogfiles.wfmu.org/VF/VFNWW_Final.jpg",
      "URL": "http://www.example.com/podcast2/",
      "PodcastURL": "http://example.com"
    }
  ]
}
