{
  "Podcasts": [
    {
      "Directory": "/Users/david/Downloads/podcasts/test",
      "Title": "Rare Frequencies",
      "ShortTitle": "rf",
      "Image": "http://www.rarefrequency.com/images/495-podcast65.jpg",
      "URL": "http://www.example.com/podcast1/",
      "PodcastURL": "https://spinitron.com/WZBC/show/792/Rare-Frequency",
      "SourceURL": "https://example.com/stream.aac",
      "Length": 10,
      "Extension": "aac"
    }
  ]
}
